<div class="d-flex justify-content-center">
    <h1 class="m-4">Customers</h1>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-evenly">
        <button class="btn btn-warning m-2 fs-4">Add a Customer</button>
        <button class="btn btn-warning m-2 fs-4">Edit a Customer</button>
        {{!-- <button class="btn btn-warning m-2 fs-4">Delete a Customer</button> --}}
    </div>
</div>
<div class="row">
    <div class="d-flex flex-column gap-4 col-md-6 col-sm-12">
        <div class="accordion customer-area" id="accordionExample">
        {{#each customerData}}
        <div class="accordion-item bg-dark text-warning">
            <h2 class="accordion-header" id="heading{{id}}">
            <button class="accordion-button bg-warning get-info" type="button" data-id="{{id}}" data-bs-toggle="collapse" data-bs-target="#collapse{{id}}" aria-expanded="true" aria-controls="collapse{{id}}">
                {{company_name}}
            </button>
            </h2>
            <div id="collapse{{id}}" class="accordion-collapse collapse" aria-labelledby="heading{{id}}" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>
                    <strong>Account Manager:</strong> <a href="/users" class="text-warning bold">{{user.first_name}} {{user.last_name}}</a>
                </p>
                <p>
                    <strong>Customer ID:</strong> {{id}}
                </p>
                <p>
                    <strong>Order IDs:</strong>
                    <ul>
                        {{#each orders as |order|}}
                        <li> 
                            <a href="#" class="text-decoration-none text-success">{{id}}</a>
                            {{/each}}
                        </li>
                    </ul>
                </p>
            </div>
            </div>
        </div>   
        {{/each}}
        </div>
    </div>
    <figure class="d-grid gap-2 col-md-6 col-sm-12 mx-auto">
        <img src="/images/camel.png">
    </figure>



</div>


<script src="./js/customers.js"></script>