<div class="d-flex justify-content-center">
    <h1 class="m-4">Orders</h1>
</div>

<div class="container">
    <div class="row">
        <figure class="col-md-6 col-sm-12">
            <img class="img-fluid" src="/images/island.png" alt="Green and black pixelated island with monster tentacles coming out of it.">
        </figure>

        <div class="col-md-6 col-sm-12">
          <div class="d-flex flex-column">
                <div>
                  <button class="btn btn-warning view-closed">Toggle closed orders</button>
                  <button class="btn btn-warning order-toggle">Create an order</button>
                </div>
                <h3 class="m-2">Open Orders:</h3>
                <div class="row open-orders-div m-4">
                   {{#each orderData}} 
                      {{#unless this.isFulfilled}}
                    <div class="card text-white bg-success mb-3" style="width: 18rem;">
                      <div class="card-header bold">{{customer.company_name}}</div>
                      <div class="card-body align-items-end">
                        <ul>
                        {{#each products}}
                        <li>
                        <h5 class="card-title">
                             {{this.item_name}} - {{orderProduct.quantity}}
                        </h5>
                        </li>
                        
                          <p class="m-1 text-center font-weight-light"><em>Available stock: {{this.stock}}</em></p>
                        
                        {{!-- <p>Quantity available:</p> {{this.stock}} --}}
                        {{/each}}
                        </ul>
                        <div class="">
                          <button class="btn btn-warning close-order" data-id="{{id}}">Close Order</button>
                          <button class="btn btn-warning edit-order" data-id="{{id}}">Edit Order</button>
                        </div>

                      </div>
                    </div>
                    {{/unless}}
                  {{/each}}   
                </div>

                <div id="closed-order-div" style="display: none">
                  <h3 class="m-2">Closed Orders:</h3>
                <div class="m-4">
                   {{#each orderData}}
                      {{#if this.isFulfilled}}
                    <div class="card text-white bg-secondary mb-3" style="width: 16rem;">
                      <div class="card-header bold">{{customer.company_name}}</div>
                      <div class="card-body">
                        <ul>
                        {{#each products}}
                        <li>
                        <h5 class="card-title">{{this.item_name}} - {{orderProduct.quantity}}</h5> 
                        </li>
                        {{/each}}
                        </ul>
                        
                        {{!-- <button class="btn btn-warning">Order Again</button> --}}
                        {{!-- <button class="btn btn-warning">Edit Order</button> --}}
                      </div>
                    </div>
                    {{/if}}
                  {{/each}}   
                </div>
                </div>



            </div>

            {{!-- FORM TO SUBMIT AN ORDER --}}
<div class="availability-container" id="new-order" style="display: none">
  <div class="container">
    <h2 class="mt-5 orderTitle">Availability</h2>
    <!-- Check availability form -->
    <form id="available-form" class="mt-4">
      <div class="form-group">
        <label for="product">Product:</label>
        <input type="text" class="form-control form-control-custom" id="product" name="product" placeholder="Type your product here" required>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" class="form-control form-control-custom" id="quantity" min="1" placeholder="Type your quantity here" name="quantity" required>
      </div>
      <div class="button-group">
        <button type="button" id="checkAvailability" class="btn btn-primary check-availability-btn">Check Availability</button>
        <div class="icon-container">
          <i class="fa-solid fa-angles-right nextTorder"></i>
        </div>
        <button type="submit" id="makeOrder" class="btn btn-primary availability disabled">Make an order</button>
      </div>
    </form>
  </div>
</div>

<!-- Placing order form -->
<div class="place-order-main-container">
  <div>
    <h2 class="mt-5 orderTitle orderTitle">Place Your Order</h2>

    <form id="orderForm" class="mt-4 order-form">

      <div class="form-group">
        <label class="orderTitle" for="companyName">Company's name:</label>
        <input type="text" class="form-control form-control-custom " id="companyName" name="companyName" placeholder="Type your full name" required>
      </div>

      <div class="form-group">
        <label class="orderTitle" for="product">Products:</label>
        <input type="text" class="form-control form-control-custom" id="product" name="product" placeholder="Type your product here" required>
      </div>

      <div class="form-group">
        <label class="orderTitle" for="quantity">Quantity:</label>
        <input type="number" class="form-control form-control-custom" id="quantity" min="1" placeholder="Type your quantity here" name="quantity" required>
      </div>

      <div class="button-group">
        <button type="button" id="go-back-availability" class="btn btn-primary">Back</button>
        <div class="icon-container">
          <i class="fa-solid fa-angles-left"></i>
        </div>

        <button type="submit" id="makeOrder" class="btn btn-primary availability">Make an order</button>
        <div class="icon-container">
          <i class="fa-solid fa-angles-right nextTorder"></i>
        </div>

        <button type="submit" id="makeOrder" class="btn btn-primary availability disabled">Payment</button>
      </div>
    </form>
  </div>
</div>

        </div>
    </div>
</div>









<script src="/js/orders.js"></script>