<div class="d-flex justify-content-center">
    <h1 class="m-4">Orders</h1>
</div>

<div class="container">
    <div class="row">
        <figure class="col-md-6 col-sm-12">
            <img class="img-fluid custom-image" src="/images/island.png" alt="Green and black pixelated island with monster tentacles coming out of it.">
        </figure>

        <div class="col-md-6 col-sm-12">
          <div class="d-flex flex-column">
                <div class="d-flex justify-content-evenly">
                  <button class="btn btn-warning view-closed">Toggle closed orders</button>
                  <button class="btn btn-warning order-toggle">Create an order</button>
                </div>
                <h3 class="m-2">Open Orders:</h3>
                <div class="row open-orders-div gap-2 m-4">
                   {{#each orderData}} 
                      {{#unless this.isFulfilled}}
                    <div class="card text-white bg-success mb-3" style="width: 18rem;">
                      <div class="card-header bold">{{customer.company_name}}</div>
                      <div class="card-body align-items-end">
                        <ul>
                        {{#each products}}
                        <li>
                        <h5 class="card-title">
                             {{this.item_name}} - {{orderProduct.quantity}}
                        </h5>
                        </li>
                        
                          <p class="m-1 text-center font-weight-light"><em>Available stock: {{this.stock}}</em></p>
                        
                        {{!-- <p>Quantity available:</p> {{this.stock}} --}}
                        {{/each}}
                        </ul>
                        <div class="">
                          <button class="btn btn-sm btn-warning close-order" data-id="{{id}}">Close Order</button>
                          {{!-- <button class="btn btn-sm btn-danger delete-order" data-id="{{id}}">Delete Order</button> --}}
                        </div>

                      </div>
                    </div>
                    {{/unless}}
                  {{/each}}   
                </div>

                <div id="closed-order-div" style="display: none">
                  <h3 class="m-2">Closed Orders:</h3>
                <div class="m-4 gap-2 row">
                   {{#each orderData}}
                      {{#if this.isFulfilled}}
                    <div class="card text-white bg-secondary mb-3" style="width: 16rem;">
                      <div class="card-header bold">{{customer.company_name}}</div>
                      <div class="card-body">
                        <ul>
                        {{#each products}}
                        <li>
                        <h5 class="card-title">{{this.item_name}} - {{orderProduct.quantity}}</h5> 
                        </li>
                        {{/each}}
                        </ul>
                      </div>
                    </div>
                    {{/if}}
                  {{/each}}   
                </div>
                </div>
            </div>
                {{!-- FORM TO CHECK AVAILABILITY --}}
          {{!-- -------------------------------------------------------------------------------------------- --}}
            <div class="availability-container p-4" id="new-order" style="display: none">
              <div class="container">
                <h2 class="text-warning">Check Availability</h2>
                <!-- Check availability form -->
                <form id="available-form" class="mt-4">
                  <div class="form-group">
                    <label for="product">Product:</label>
                      <select class="form-select" aria-label="select-product" id="product">
                        {{!-- dropdown menu of all product options in database  --}}
                        <option selected>Choose product</option>
                        {{#each productData}}
                        <option id="option{{id}}" value="{{id}}" data-name="{{item_name}}">{{item_name}}</option>
                        {{/each}}
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="number" class="form-control form-control-custom" id="quantity" min="1" placeholder="Type your quantity here" name="quantity" required>
                  </div>
                  <div class="button-group">
                    <button type="button" id="checkAvailability" class="btn btn-warning check-availability-btn m-1">Check Availability</button>
                    <div class="icon-container">
                      <i class="fa-solid fa-angles-right nextTorder"></i>
                    </div>
                    <button type="submit" id="add-to-order" class="btn btn-warning availability disabled m-1">Add to Order</button>
                      <div class="icon-container">
                        <i class="fa-solid fa-angles-right nextTorder"></i>
                      </div>
                    <button type="submit" id="makeOrder" class="btn btn-warning availability disabled m-1">Place Order</button>
                  </div>
                </form>
              </div>
            </div>

              <!-- FORM TO PLACE ORDER -->
                {{!-- -------------------------------------------------------------------------------------------- --}}
              <!-- FORM TO PLACE ORDER -->
            <div class="place-order-main-container m-4" style="display: none;">
              <div>
                <h2 class="m-2">Place Your Order</h2>
                <form id="orderForm" class="mt-2 order-form">

                  <div class="form-group">
                    <label for="companyName">Company:</label>
                      <select class="form-select" aria-label="select-company" id="companyName">
                        {{!-- dropdown menu of all company options in database  --}}
                        <option selected>Select company</option>
                        {{#each customerData}}
                        <option value="{{id}}">{{company_name}}</option>
                        {{/each}}
                    </select>
                  </div>

                  <div class="m-3">
                    <ul class="display-order-list">
                      {{!-- empty section to render order choices --}}
                    </ul>
                  </div>

                  <div class="button-group">
                    {{!-- <button type="button" id="go-back-availability" class="btn btn-primary">Back</button> --}}
                    {{!-- <div class="icon-container">
                      <i class="fa-solid fa-angles-left"></i>
                    </div> --}}

                    <button type="submit" id="placeOrder" class="btn btn-primary">Place order</button>
                    {{!-- for future development --}}
                    {{!-- <div class="icon-container">
                      <i class="fa-solid fa-angles-right nextTorder"></i>
                    </div> --}}

                    {{!-- <button type="submit" id="makeOrder" class="btn btn-primary availability disabled">Payment</button> --}}
                  </div>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/orders.js"></script>