<div class="d-flex justify-content-center">
    <h1 class="m-4">My Team</h1>
</div>

<div class="container">
    {{!-- add user button section --}}
    <section class="d-grid gap-3 col-7 mx-auto mb-4">
        <button type="button" class="btn btn-warning btn-lg" id="add-usr">Add A User</button>
        {{!-- start form for adding new user  --}}
            <form class="" id="user-form" style="display: none">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="username" placeholder="your-username">
                    <label for="username">Username</label>
                </div>
                {{!-- partial to reuse components of user form  --}}
                {{> user-form}}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-warning btn-lg" id="create-usr">Create User</button>
                </div>
            </form>
    </section>
    {{!-- end form for adding new user --}}
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="container d-flex flex-column d-grid gap-2 col-10 mx-auto modal-container">
                {{#each userData}}
                <button type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#myModal{{id}}">
                    {{this.first_name}} {{this.last_name}}
                </button>

                {{!-- modal to view user data  --}}
                <div class="modal fade" id="myModal{{id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModal{{id}}Label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content modal-style">
                        <div class="modal-header">
                            <h2 class="modal-title fs-5" id="myModal{{id}}Label">{{first_name}} {{last_name}}</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Accounts: 
                                <ul>
                                    {{#each customers}} 
                                    <li>{{this.company_name}}</li>
                                    {{/each}}
                                </ul> 
                            </p>
                            <p>
                                Username: {{this.username}}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <div class="container d-flex justify-content-evenly button-area">
                                <button type="button" class="btn btn-danger del-btn" data-bs-dismiss="modal" data-id="{{id}}">Delete</button>
                                <button type="button" class="btn btn-warning edit-btn" data-bs-dismiss="modal" data-id="{{id}}">Edit</button>
                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                {{!-- end modal  --}}
                {{/each}}
            </div>
        </div>
        <figure class="col-md-6 col-sm-12">
            <img class="img-fluid" src="/images/building.png" alt="Pixelated green monster threatening skyscrapers">
        </figure>
    </div>
</div>

<script src="/js/users.js"></script>